body {
	font-size: var(--fz-450);
	font-family: var(--ff-primary);
	font-weight: var(--fw-400);
	color: var(--clr-neutral-400);
	overflow-x: hidden;
}

h1,
h2,
h3 {
	font-weight: var(--fw-700);
}

h1,
h2 {
	letter-spacing: var(--ls-100);
}
