$breakpoints: (
	small: 36em,
	medium: 48em,
	large: 62em,
);

$colors: (
	primary: (
		300: hsl(231 58% 55%),
		320: hsl(231 58% 55% / 0.2),
		400: hsl(231 69% 60%),
	),
	accent: (
		400: hsl(0 94% 66%),
	),
	neutral: (
		100: hsl(0 0% 100%),
		200: hsl(0 0% 97%),
		400: hsl(229 8% 60%),
		700: hsl(229 31% 21%),
		725: hsl(229 31% 21% / 0.25),
		750: hsl(229 31% 21% / 0.5),
		775: hsl(229 31% 21% / 0.75),
		900: hsl(0 0% 0%),
	),
);

$font-sizes: (
	small: (
		100: 1rem,
		200: 1.2rem,
		300: 1.4rem,
		400: 1.5rem,
		450: 1.5rem,
		500: 1.6rem,
		600: 2rem,
		700: 2.4rem,
		800: 3rem,
		nav-link: 2rem,
	),
	medium: (
		200: 1.3rem,
		450: 1.8rem,
		700: 3.2rem,
		800: 4.8rem,
		nav-link: 1.3rem,
	),
);

$font-weights: (
	400: 400,
	700: 500,
);

$letter-spacings: (
	50: 0.25rem,
	100: -0.003125em,
	200: 0.009375em,
	400: 0.033125em,
	600: 0.115em,
	800: 0.385em,
);

$border-radius: (
	200: 0.5rem,
	400: 1.5rem,
);

$spacers: (
	em: (
		200: 0.5em,
		300: 1em,
		400: 1.25em,
		500: 1.5em,
		600: 1.7em,
	),
	rem: (
		200: 1.6rem,
		300: 2.4rem,
		375: 3rem,
		400: 3.2rem,
		450: 3.6rem,
		500: 4rem,
		550: 4.4rem,
		600: 4.8rem,
		700: 5.4rem,
		800: 6.4rem,
		900: 7.2rem,
	),
);
