[class*='flex'] {
	display: flex;
}

.flex-socials {
	align-items: center;
	gap: var(--spacer-rem-500, 1em);
}

.flex-space-between {
	justify-content: space-between;
	align-items: center;
	gap: var(--flex-space-between-spacer, 1em);
}
